<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bewith">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeWith"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">
        <activity
            android:name=".UpdateReplyActivity"
            android:exported="true"
            android:theme="@style/Theme.MyDialog"/>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/test" />

        <activity
            android:name=".NotNeedActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetNickActivity"
            android:exported="true" />
        <activity
            android:name=".CommunityActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".UpdatePopup"
            android:exported="true"
            android:theme="@style/AlertDialog" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" />
        <activity
            android:name=".Popup"
            android:exported="true"
            android:theme="@style/AlertDialog" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAjdupBJp0BXIPkumIGNrbYwF5ubaE2RR4" />
    </application>

</manifest>